.div1{
    width: 1000;
    height: 50;
    background-color: black;
    text-align: center;
   
}
.horizontalList{
    
    display: flex;
}
a{
    color: white;
    margin: 20;
    text-decoration: none;
}
a:hover{
    color: aqua;
}